@charset "utf-8";
/* 
font-family: 'Noto Sans KR', sans-serif;
 */

/*
화면크기
Qhd 2560*1440
Full hd 1920*1080px
Hd 1600*900px
최저1024*600
*/

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #1a1a1a;
    overflow-x: hidden;
    /* font-family: 'Nanum Gothic', sans-serif; */
}

.row {
    max-width: 1500px;
    margin: 0 auto;
}

.page-1 {
    height: 1000px;
    box-sizing: border-box;
    background: url(../img/b1.png);
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
    border-bottom: 1px solid #333;
}

.page-2 {
    background: #F2f2f2;
    height: 1000px;
    border-bottom: 1px solid #333
}

.page-3 {
    background: #f2f2f2;
    height: 1000px;
    border-bottom: 1px solid #333
}

.page-4 {
    background: #f2f2f2;
    height: 1000px;
    border-bottom: 1px solid #333
}

.page-5 {
    background: #f2f2f2;
    height: 1000px;
}

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    /* background: #F8EFE0; */
    transition: all 0.3s;
}

#header:hover {
    transform: scale(1.1);
}

.headerBox {
    padding: 10px 30px;
    margin-top: 10px;
    box-shadow: 1px 3px 10px 0px #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    background: white;
    border-radius: 50px;
}

.headerBox>h2 {
    font-size: 25px;
    font-weight: 800;
}

.headerBox>h2>span {
    background: linear-gradient(50deg, #Ff0061, #Fec194);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.menuBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.menuBox>li {

    font-weight: 900;
    font-size: 18px;
    letter-spacing: 3px;
}


.menuBox>li.active a {
    color: #fff;
    font-weight: 900;
    padding: 10px 18px;
    background: linear-gradient(135deg, #Ff0061, #Fec194);
    border-radius: 50px;
}

.slideBar {
    position: fixed;
    z-index: 9999999;
    bottom: 0;
    width: 0;
    height: 8px;
    background-color: #FC443F;
    opacity: 0;
}

/*"page-1 home 로고*/
.home {
    height: 1000px;
    position: relative;
}

.home .logo {
    height: 100%;
    width: 100%;
    position: relative;
}

.home .logo .logo1 {
    position: absolute;
    top: 40%;
    left: 0%;
    transform: translate(-50%, -40%);
    opacity: 0;
    animation: logo 3s both 0.7s;
}

@keyframes logo {
    0% {
        opacity: 0;
        left: 0;
    }

    100% {
        opacity: 1;
        left: 50%;
    }
}

.home .logo .logo2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    opacity: 0;
    animation: logo 3s both 0.3s;
}

.home .logo .aniTop01 {
    height: 50px;
    background: #FC443F;
    border-radius: 0px 50px 50px 0px ;
    position: absolute;
    left: 0;
    top: 150px;
    opacity: 0;
    animation: aniToBo01 3s both;
}
.home .logo .aniTop02 {
    width: 50px;
    background: #FC443F;
    border-radius: 0px 0px 50px 50px ;
    position: absolute;
    left: 10%;
    top: 0;
    opacity: 0;
    animation: aniToBo02 3s both 0.3s;
}



@keyframes aniToBo01 {
    0%{
        width: 0;
    }
    100%{
        opacity: 1;
        width: 700px;
    }
}
@keyframes aniToBo02 {
    0%{
        height: 0;
    }
    100%{
        opacity: 1;
        height: 500px;
    }
}
@keyframes scrollAni {
    0% {
      opacity: 1;
    }
    100%{
        opacity: 1;
        bottom: 350px;
    }
}

.home .logo .aniBottom01 {
    height: 50px;
    background: #FEBE4B;
    border-radius: 50px 0px 0px 50px ;
    position: absolute;
    right: 0;
    bottom: 300px;
    opacity: 0;
    animation: aniToBo01 3s both;
}
.home .logo .aniBottom02 {
    width: 50px;
    background: #FEBE4B;
    border-radius: 50px 50px 0px 0px ;
    position: absolute;
    right: 10%;
    bottom: 0px;
    opacity: 0;
    animation: aniToBo02 3s both 0.3s;
}
.home .scrollDown{
   font-size: 15px; 
   position: absolute;
   bottom:360px;
   left: 50%;
 transform: translateX(-50%);
   color: #999;
   text-align: center;
   animation:scrollAni 2s infinite;
}
.home .scrollDown img{
    width: 7%;
}





/* #page-2 .Portfolio */
#page-2 .Portfolio h2 {
    padding-top: 70px;
    text-align: center;
    font-size: 40px;
}

#page-2 .Portfolio h2 span {
    background: linear-gradient(50deg, #Ff0061, #Fec194);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

#page-2 .Portfolio p {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

#page-2 .PortfolioBox {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#page-2 .PortfolioBox .keyword {
    border-radius: 3px;
    text-align: center;
    width: 200px;
    background: #FC443F;
}

#page-2 .PortfolioBox .keyword li {
    padding: 10px;
}


#page-2 .PortfolioBox .keyword li button {
    width: 150px;
    text-align: center;
    margin: 10px 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    background: none;
    border: 2px solid #fff;
}

#page-2 .PortfolioBox .keyword li:nth-child(1) {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

#page-2 .PortfolioBox .keyword li:nth-child(2) {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

#page-2 .PortfolioBox .keyword li:nth-child(3) {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

#page-2 .PortfolioBox .keyword li:nth-child(4) {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

#page-2 .PortfolioBox .keyword li:nth-child(5) {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}


#page-2 .PortfolioBox.on .keyword li:nth-child(1) {
    animation: fadeInDown 1s both;
}

#page-2 .PortfolioBox.on .keyword li:nth-child(2) {
    animation: fadeInDown 1s both 0.3s;
}

#page-2 .PortfolioBox.on .keyword li:nth-child(3) {
    animation: fadeInDown 1s both 0.6s;
}

#page-2 .PortfolioBox.on .keyword li:nth-child(4) {
    animation: fadeInDown 1s both 0.9s;
}

#page-2 .PortfolioBox.on .keyword li:nth-child(5) {
    animation: fadeInDown 1s both 1.3s;
}

#page-2 .PortfolioBox .keyword li button:hover {
    background: #fff;
    color: #FC443F;
    font-weight: 800;
}

#page-2 .PortfolioBox .keyword li button.act {
    background: #fff;
    color: #FC443F;
    font-weight: 800;
}


#page-2 .PortfolioBox .listBox {
    width: 90%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 10px;

}

#page-2 .PortfolioBox .listBox li {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px 10px;
    height: 200px;
    border-radius: 3px;
    text-align: center;
    background: #fff;
    transition: all 0.2s;
    position: relative;
    box-shadow: 1px 3px 5px 0px #999;
}

#page-2 .PortfolioBox .listBox li p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    font-size: 14px;
}

#page-2 .PortfolioBox .listBox li img {
    opacity: 0.5;
    transition: all 0.5s;
}

#page-2 .PortfolioBox .listBox li:hover img {
    opacity: 1
}

#page-2 .PortfolioBox .listBox li:nth-child(1),
#page-2 .PortfolioBox .listBox li:nth-child(2),
#page-2 .PortfolioBox .listBox li:nth-child(3),
#page-2 .PortfolioBox .listBox li:nth-child(4),
#page-2 .PortfolioBox .listBox li:nth-child(5),
#page-2 .PortfolioBox .listBox li:nth-child(6),
#page-2 .PortfolioBox .listBox li:nth-child(7),
#page-2 .PortfolioBox .listBox li:nth-child(8),
#page-2 .PortfolioBox .listBox li:nth-child(9),
#page-2 .PortfolioBox .listBox li:nth-child(10),
#page-2 .PortfolioBox .listBox li:nth-child(11),
#page-2 .PortfolioBox .listBox li:nth-child(12),
#page-2 .PortfolioBox .listBox li:nth-child(13),
#page-2 .PortfolioBox .listBox li:nth-child(14),
#page-2 .PortfolioBox .listBox li:nth-child(15),
#page-2 .PortfolioBox .listBox li:nth-child(16) {
    width: 13%;

}

#page-2 .PortfolioBox .listBox li:nth-child(1) img,
#page-2 .PortfolioBox .listBox li:nth-child(2) img,
#page-2 .PortfolioBox .listBox li:nth-child(3) img,
#page-2 .PortfolioBox .listBox li:nth-child(4) img,
#page-2 .PortfolioBox .listBox li:nth-child(5) img,
#page-2 .PortfolioBox .listBox li:nth-child(6) img,
#page-2 .PortfolioBox .listBox li:nth-child(7) img,
#page-2 .PortfolioBox .listBox li:nth-child(8) img,
#page-2 .PortfolioBox .listBox li:nth-child(9) img,
#page-2 .PortfolioBox .listBox li:nth-child(10) img,
#page-2 .PortfolioBox .listBox li:nth-child(11) img,
#page-2 .PortfolioBox .listBox li:nth-child(12) img,
#page-2 .PortfolioBox .listBox li:nth-child(13) img,
#page-2 .PortfolioBox .listBox li:nth-child(14) img,
#page-2 .PortfolioBox .listBox li:nth-child(15) img,
#page-2 .PortfolioBox .listBox li:nth-child(16) img {
    width: 55%;
}

#page-2 .PortfolioBox .listBox li:nth-child(17),
#page-2 .PortfolioBox .listBox li:nth-child(18) {
    width: 400px;
}

#page-2 .PortfolioBox .listBox li:nth-child(17) img,
#page-2 .PortfolioBox .listBox li:nth-child(18) img {
    width: 55%;
}

#page-2 .PortfolioBox .listBox li:nth-child(1),
#page-2 .PortfolioBox .listBox li:nth-child(2),
#page-2 .PortfolioBox .listBox li:nth-child(3),
#page-2 .PortfolioBox .listBox li:nth-child(4),
#page-2 .PortfolioBox .listBox li:nth-child(5),
#page-2 .PortfolioBox .listBox li:nth-child(6),
#page-2 .PortfolioBox .listBox li:nth-child(7) {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

#page-2 .PortfolioBox .listBox li:nth-child(8),
#page-2 .PortfolioBox .listBox li:nth-child(9),
#page-2 .PortfolioBox .listBox li:nth-child(10),
#page-2 .PortfolioBox .listBox li:nth-child(11),
#page-2 .PortfolioBox .listBox li:nth-child(12),
#page-2 .PortfolioBox .listBox li:nth-child(13),
#page-2 .PortfolioBox .listBox li:nth-child(14) {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

#page-2 .PortfolioBox .listBox li:nth-child(15),
#page-2 .PortfolioBox .listBox li:nth-child(16) {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

#page-2 .PortfolioBox .listBox li:nth-child(17),
#page-2 .PortfolioBox .listBox li:nth-child(18) {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

#page-2 .PortfolioBox.on .listBox li:nth-child(1) {
    animation: fadeInDown 2s both;
}

#page-2 .PortfolioBox.on .listBox li:nth-child(2) {
    animation: fadeInDown 2s both 0.1s;
}

#page-2 .PortfolioBox.on .listBox li:nth-child(3) {
    animation: fadeInDown 2s both 0.2s;
}

#page-2 .PortfolioBox.on .listBox li:nth-child(4) {
    animation: fadeInDown 2s both 0.3s;
}

#page-2 .PortfolioBox.on .listBox li:nth-child(5) {
    animation: fadeInDown 2s both;
}

#page-2 .PortfolioBox.on .listBox li:nth-child(6) {
    animation: fadeInDown 2s both 0.1s;
}

#page-2 .PortfolioBox.on .listBox li:nth-child(7) {
    animation: fadeInDown 2s both 0.2s;
}

#page-2 .PortfolioBox.on .listBox li:nth-child(8) {
    animation: fadeInRight 2s both 0.3s;
}

#page-2 .PortfolioBox.on .listBox li:nth-child(9) {
    animation: fadeInRight 2s both 0.4s;
}

#page-2 .PortfolioBox.on .listBox li:nth-child(10) {
    animation: fadeInRight 2s both;
}

#page-2 .PortfolioBox.on .listBox li:nth-child(11) {
    animation: fadeInRight 2s both 0.1s;
}

#page-2 .PortfolioBox.on .listBox li:nth-child(12) {
    animation: fadeInRight 2s both 0.2s;
}

#page-2 .PortfolioBox.on .listBox li:nth-child(13) {
    animation: fadeInRight 2s both 0.3s;
}

#page-2 .PortfolioBox.on .listBox li:nth-child(14) {
    animation: fadeInRight 2s both 0.4s;
}

#page-2 .PortfolioBox.on .listBox li:nth-child(15) {
    animation: fadeInLeft 2s both;
}

#page-2 .PortfolioBox.on .listBox li:nth-child(16) {
    animation: fadeInLeft 2s both 0.1s;
}

#page-2 .PortfolioBox.on .listBox li:nth-child(17) {
    animation: fadeInUp 2s both 0.2s;
}

#page-2 .PortfolioBox.on .listBox li:nth-child(18) {
    animation: fadeInUp 2s both 0.3s;
}

/* 갤러리 팝업 */
.PortfolioBox .gellaryPopup {
    opacity: 0;
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    background: rgba(247, 239, 223, 0.5);
    z-index: 99999999999;
    transition: all 0.5s;
    overflow: hidden;
}

.PortfolioBox .gellaryPopup.on {
    opacity: 1;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: visible;
}

.PortfolioBox .gellaryPopup .popuplist {
    position: absolute;
    top: 50%;
    /* left: 50%; width: 30%; transform: translate(-50%, -50%); */
    left: 25%;
    right: 25%;
    transform: translateY(-50%);
    text-align: center;
}

.PortfolioBox .gellaryPopup .popuplist .close {
    position: absolute;
    top: -100px;
    right: 70px;
    font-size: 80px;
    color: rgba(251, 68, 63, 0.8);
    background: none;
    cursor: pointer;
}

.PortfolioBox .gellaryPopup .popuplist .close:hover {
    color: rgba(251, 68, 63, 1);
}

.PortfolioBox .gellaryPopup .popuplist .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 150px;
    color: #FEBE4B;
    background: none;
    cursor: pointer;
}

.PortfolioBox .gellaryPopup .popuplist .arrow:hover {
    color: #FC443F;
}

.PortfolioBox .gellaryPopup .popuplist .prev {
    left: -150px;
}

.PortfolioBox .gellaryPopup .popuplist .next {
    right: -150px;
}

/*#page-3 Skills*/
.skillsBox>h2 {
    padding-top: 90px;
    text-align: center;
    font-size: 40px;
}

.skillsBox>h2>span {
    background: linear-gradient(50deg, #Ff0061, #Fec194);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.skills {
    margin-top: 10px;
    display: flex;
    align-items: center;

}

.skillcontainer {
    width: 50%;
    text-align: center;
    padding: 10px;
}

.skillcontainer p {
    font-size: 20px;
    font-weight: 800;
}

/* 글씨 크기 추후 수정 반응형 일때 글시 크기 다시 설정  */

.skillcontainer>.skillTree {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    /* border: 1px solid red; */
    margin-bottom: 20px;
    cursor: pointer;
    /* -webkit-transition:all 0.2s;
    transition:all 0.2s; */

}

.skillcontainer>.skillTree:nth-child(6) {
    margin-bottom: 0;
}



.skillcontainer .score {
    width: 80%;
    height: 30px;
    border: 3px solid #ddd;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.skillcontainer .myscore {
    height: 30px;
    width: 0%;
    padding-right: 10px;
    text-align: right;
    font-size: 20px;
    font-weight: 800;
    opacity: 0;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.skillcontainer .photoshop .myscore.on {
    background: #FC443F;
    animation: photoshopscore 2s both;
}

.skillcontainer .illustrator .myscore.on {
    background: #FEBE4B;
    animation: illustratorscore 2s both 0.3s;
}

.skillcontainer .html .myscore.on {
    background: #FC443F;
    animation: htmlscore 2s both 0.5s;
}

.skillcontainer .css .myscore.on {
    background: #FEBE4B;
    animation: cssscore 2s both 0.8s;
}

.skillcontainer .js .myscore.on {
    background: #FC443F;
    animation: jsscore 2s both 1.2s;
}

.skillcontainer .react .myscore.on {
    background: #FEBE4B;
    animation: reactscore 2s both 1.5s;
}

@keyframes photoshopscore {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
        opacity: 1;
    }
}

@keyframes illustratorscore {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
        opacity: 1;
    }
}

@keyframes htmlscore {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
        opacity: 1;
    }
}

@keyframes cssscore {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
        opacity: 1;
    }
}

@keyframes jsscore {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
        opacity: 1;
    }
}

@keyframes reactscore {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
        opacity: 1;
    }
}

/* .skillcontainer02 {
    width: 50%;
} */

.skillcontainer02>.skillTree02 {
    padding: 15px 100px;
    margin-bottom: 25px;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}

.skillcontainer02>.skillTree02:nth-child(3) {
    margin-bottom: 0;
}

.skillcontainer02>.skillTree02 h2>span {
    font-size: 40px;
    vertical-align: sub;
    margin-right: 10px;
}

.skillcontainer02>.skillTree02 h2 {
    vertical-align: sub;
    font-size: 25px;
    color: #FC443F;
}

.skillcontainer02>.skillTree02 p {
    font-size: 18px;
    font-weight: bold;
}

.skillcontainer02>.skillTree02:hover {
    transform: scale(1.1);
}

.skillcontainer02>.skillTree02:hover::after {
    content: '';
    width: 0;
    /* opacity: 0; */
    border-radius: 50px;
    height: 15px;
    background: #FC443F;
    position: absolute;
    bottom: -5px;
    animation: skill02ani 1.5s both;
}

@keyframes skill02ani {
    0% {
        width: 0;
    }

    100% {
        opacity: 1;
        width: 400px;
    }
}

.skillcontainer02 .skillTree02:nth-child(1),
.skillcontainer02 .skillTree02:nth-child(2),
.skillcontainer02 .skillTree02:nth-child(3) {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.skillcontainer02.on .skillTree02:nth-child(1) {
    animation: fadeInUp 1.5s both;
}

.skillcontainer02.on .skillTree02:nth-child(2) {
    animation: fadeInUp 1.5s both 0.3s;
}

.skillcontainer02.on .skillTree02:nth-child(3) {
    animation: fadeInUp 1.5s both 0.6s;
}



/* page-4 About Me*/
.page-4>h2 {
    padding-top: 90px;
    text-align: center;
    font-size: 40px;
}

.page-4>h2>span {
    background: linear-gradient(50deg, #Ff0061, #Fec194);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.aboutBox {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.aboutKeyword {
    margin-top: 10px;
    width: 50%;

}

.aboutKeyword h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
}

.aboutKeyword h2>span {
    background: linear-gradient(50deg, #Ff0061, #Fec194);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.aboutKeyword>ul {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.aboutKeyword>ul>li {
    text-align: center;
    width: 30%;
    font-weight: 800;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 15px;
    border: 2px solid #FC443F;
    border-radius: 50px;
    color: #FC443F;
    transition: all 0.3s;
}

.aboutKeyword>ul>li:nth-child(1),
.aboutKeyword>ul>li:nth-child(2) {
    width: 50%;
}

.aboutKeyword>ul>li:nth-child(8),
.aboutKeyword>ul>li:nth-child(9) {
    width: 50%;
}

.aboutKeyword>ul>li:hover {
    transform: scale(1.1);
    background: #FC443F;
    color: #FEBE4B;
}

.aboutKeyword>ul>li:nth-child(1),
.aboutKeyword>ul>li:nth-child(2),
.aboutKeyword>ul>li:nth-child(3),
.aboutKeyword>ul>li:nth-child(4),
.aboutKeyword>ul>li:nth-child(5),
.aboutKeyword>ul>li:nth-child(6),
.aboutKeyword>ul>li:nth-child(7),
.aboutKeyword>ul>li:nth-child(8),
.aboutKeyword>ul>li:nth-child(9),
.aboutKeyword>ul>li:nth-child(10),
.aboutKeyword>ul>li:nth-child(11) {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.aboutKeyword.on>ul>li:nth-child(1) {
    animation: fadeInDown 1.5s both;
}

.aboutKeyword.on>ul>li:nth-child(2) {
    animation: fadeInDown 1.5s both 0.2ms;
}

.aboutKeyword.on>ul>li:nth-child(3) {
    animation: fadeInDown 1.5s both 0.4s;
}

.aboutKeyword.on>ul>li:nth-child(4) {
    animation: fadeInDown 1.5s both 0.6s;
}

.aboutKeyword.on>ul>li:nth-child(5) {
    animation: fadeInDown 1.5s both 0.8s;
}

.aboutKeyword.on>ul>li:nth-child(6) {
    animation: fadeInDown 1.5s both 1s;
}

.aboutKeyword.on>ul>li:nth-child(7) {
    animation: fadeInDown 1.5s both 1.2s;
}

.aboutKeyword.on>ul>li:nth-child(8) {
    animation: fadeInDown 1.5s both 1.4s;
}

.aboutKeyword.on>ul>li:nth-child(9) {
    animation: fadeInDown 1.5s both 1.6s;
}

.aboutKeyword.on>ul>li:nth-child(10) {
    animation: fadeInDown 1.5s both 1.8s;
}

.aboutKeyword.on>ul>li:nth-child(11) {
    animation: fadeInDown 1.5s both 2s;
}


.myInfo {
    margin-top: 10px;
    width: 50%;
    padding: 50px 150px;
}

.myInfo h2 {
    text-align: left;
    margin-bottom: 18px;
    font-size: 30px;
    position: relative;
}

.myInfo h2>span {
    background: linear-gradient(50deg, #Ff0061, #Fec194);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.myInfo>p {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
    position: relative;

}

.myInfo h2,
.myInfo p {
    transition: all 0.3s;
}

.myInfo h2:hover,
.myInfo>p:hover {
    color: #FC443F;
    transform: scale(1.1);
}

.myInfo h2:hover::after,
.myInfo>p:hover:after {
    content: '';
    width: 0;
    /* opacity: 0; */
    border-radius: 50px;
    left: 0;

    height: 10px;
    background: #FC443F;
    position: absolute;
    bottom: -13px;
    animation: infoani 1.5s both;
}

@keyframes infoani {
    0% {
        width: 0;
    }

    100% {
        opacity: 1;
        width: 300px;
    }
}

.myInfo h2,
.myInfo p {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.myInfo.on h2 {
    animation: fadeInRight 1.5s both 0.2s;
}

.myInfo.on p {
    animation: fadeInRight 1.5s both 0.4s;
}



/*page-5 Contact */
.contactBox>h2 {
    padding-top: 90px;
    text-align: center;
    font-size: 40px;
}

.contactBox>h2>span {
    background: linear-gradient(50deg, #Ff0061, #Fec194);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.contactInner {
    padding: 10px 100px;

}

.contactInner a {
    text-align: center;
    font-size: 30px;
    display: block;
    margin: 50px 0;
    padding: 10px;
    font-weight: bold;
    transition: all 0.3s;
    border: 1px solid #FC443F;
    border-radius: 50px;
}

.contactInner a:nth-child(1),
.contactInner a:nth-child(2) .contactInner a:nth-child(3) {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.contactInner.on a:nth-child(1) {
    animation: fadeInUp 1.3s both;
}

.contactInner.on a:nth-child(2) {
    animation: fadeInUp 1.3s both 0.2s;
}

.contactInner.on a:nth-child(3) {
    animation: fadeInUp 1.3s both 0.5s;
}



.contactInner a:hover {
    background: #FC443F;
    border-radius: 50px;
    color: #fff;
}

.footer {
    margin-top: 150px;
    background: #ddd;
}

.footerBox {
    padding: 30px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerBox img {
    width: 15%;
    margin-right: 50px;
}

.footerBox h2 {
    font-size: 40px;
}

.footerBox h2>span {
    color: #FC443F;
}

.gotop {
    display: none;
    background:#fff;
    padding: 10px 0;
    border-radius: 10px;
    border: 2px solid #FC443F;
    position: fixed;
    right: 5px;
    bottom: 10px;
    z-index: 99999999;
    opacity: 0;
    text-align: center;
    font-size: 20px;
    color: #FC443F;
    box-shadow: 1px 3px 10px 0px #999;

}

.gotop.on {
    display: block;
}

.gotop i {
    width: 70px;
    font-size: 50px;
    cursor: pointer;
}

.introAni {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FEBE4B;
    z-index: 999999999999;
  
}

.introAni .introAniInner{
    width: 600px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 50px;
    border: 5px solid #999;
    border-radius: 50px;
    overflow: hidden;
    text-align: center;
    color: #FEBE4B;
    font-weight: 900;
    
}

.introAni .introAniInner .aniBox{
    width: 0;
    background: #FC443F;
}
